.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkseagreen;
  border: 2px black solid;
  border-radius: 5px;
  padding-bottom: 30px;
}

h1 {
  color: white;
}

.divImg {
  width: 50%;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.divImg img {
  width: 50%;
  height: auto;
  border: 3px white solid;
  border-radius: 5px;
}

.divUno {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  justify-content: space-between;
  display: flex;
}

.divP {
  width: 50%;
  margin: 1rem;
  border: 3px white solid;
  border-radius: 5px;
}

.divP p {
  margin: 12px;
}
